<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Banking-Process-Automation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>/jsp/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.training.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.training.controllers.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCustomerController</display-name>
    <servlet-name>SearchCustomerController</servlet-name>
    <servlet-class>com.training.controllers.SearchCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCustomerController</servlet-name>
    <url-pattern>/SearchCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCreationServlet</display-name>
    <servlet-name>AccountCreationServlet</servlet-name>
    <servlet-class>com.training.controllers.AccountCreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreationServlet</servlet-name>
    <url-pattern>/AccountCreationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.training.controllers.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelationshipManagerController</display-name>
    <servlet-name>RelationshipManagerController</servlet-name>
    <servlet-class>com.training.controllers.RelationshipManagerController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AdditionalProductConfigurationController</display-name>
    <servlet-name>AdditionalProductConfigurationController</servlet-name>
    <servlet-class>com.training.controllers.AdditionalProductConfigurationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelationshipManagerController</servlet-name>
    <url-pattern>/RelationshipManagerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdditionalProductConfigurationController</servlet-name>
    <url-pattern>/AdditionalProductConfigurationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExistingCustomerController</display-name>
    <servlet-name>ExistingCustomerController</servlet-name>
    <servlet-class>com.training.controllers.ExistingCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistingCustomerController</servlet-name>
    <url-pattern>/ExistingCustomerController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>LoggingServlet</display-name>
    <servlet-name>LoggingServlet</servlet-name>
    <servlet-class>com.training.logger.LoggingServlet</servlet-class>
    <init-param>
      <param-name>log4jconfig</param-name>
      <param-value>/WEB-INF/t154-log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggingServlet</servlet-name>
    <url-pattern>/LoggingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadProofServlet</display-name>
    <servlet-name>UploadProofServlet</servlet-name>
    <servlet-class>com.training.controllers.UploadProofServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadProofServlet</servlet-name>
    <url-pattern>/UploadProofServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.training.controllers.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
        C:\Documents and Settings\683789\Desktop\
     </param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LanguageServlet</display-name>
    <servlet-name>LanguageServlet</servlet-name>
    <servlet-class>com.training.controllers.LanguageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanguageServlet</servlet-name>
    <url-pattern>/LanguageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateReportServlet</display-name>
    <servlet-name>GenerateReportServlet</servlet-name>
    <servlet-class>com.training.controllers.GenerateReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReportServlet</servlet-name>
    <url-pattern>/GenerateReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateChartServlet1</display-name>
    <servlet-name>GenerateChartServlet1</servlet-name>
    <servlet-class>com.training.controllers.GenerateChartServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateChartServlet1</servlet-name>
    <url-pattern>/GenerateChartServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerManagementServlet</display-name>
    <servlet-name>CustomerManagementServlet</servlet-name>
    <servlet-class>com.training.controllers.CustomerManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerManagementServlet</servlet-name>
    <url-pattern>/CustomerManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountPartyManagementServlet</display-name>
    <servlet-name>AccountPartyManagementServlet</servlet-name>
    <servlet-class>com.training.controllers.AccountPartyManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountPartyManagementServlet</servlet-name>
    <url-pattern>/AccountPartyManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeManageServlet</display-name>
    <servlet-name>EmployeeManageServlet</servlet-name>
    <servlet-class>com.training.controllers.EmployeeManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeManageServlet</servlet-name>
    <url-pattern>/EmployeeManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>ChangeAccountTitleServlet</display-name>
    <servlet-name>ChangeAccountTitleServlet</servlet-name>
    <servlet-class>
		com.training.controllers.ChangeAccountTitleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CreateTicketServlet</display-name>
    <servlet-name>CreateTicketServlet</servlet-name>
    <servlet-class>
		com.training.controllers.CreateTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SearchCustomerServlet</display-name>
    <servlet-name>SearchCustomerServlet</servlet-name>
    <servlet-class>
		com.training.controllers.SearchCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SearchCustomerService</display-name>
    <servlet-name>SearchCustomerService</servlet-name>
    <servlet-class>
		com.tvm.ilp.t154.ccam.services.SearchCustomerService</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AccountPartyListServlet</display-name>
    <servlet-name>AccountPartyListServlet</servlet-name>
    <servlet-class>
		com.training.controllers.AccountPartyListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>VerifyCustomer</display-name>
    <servlet-name>VerifyCustomer</servlet-name>
    <servlet-class>
		com.training.controllers.VerifyCustomer</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>VerifyCustomerServlet</display-name>
    <servlet-name>VerifyCustomerServlet</servlet-name>
    <servlet-class>
		com.training.controllers.VerifyCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SwitchProductServlet</display-name>
    <servlet-name>SwitchProductServlet</servlet-name>
    <servlet-class>
		com.training.controllers.SwitchProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CloseAccountServlet</display-name>
    <servlet-name>CloseAccountServlet</servlet-name>
    <servlet-class>
		com.training.controllers.CloseAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ChangeCustomerContactController</display-name>
    <servlet-name>ChangeCustomerContactController</servlet-name>
    <servlet-class>
		com.training.controllers.ChangeCustomerContactController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>
		com.training.controllers.NewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ViewAccountDetailServlet</display-name>
    <servlet-name>ViewAccountDetailServlet</servlet-name>
    <servlet-class>
		com.training.controllers.ViewAccountDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>LoadAssignedTicketServlet</display-name>
    <servlet-name>LoadAssignedTicketServlet</servlet-name>
    <servlet-class>
		com.training.controllers.LoadAssignedTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ChangeCustomerAddressController</display-name>
    <servlet-name>ChangeCustomerAddressController</servlet-name>
    <servlet-class>
		com.training.controllers.ChangeCustomerAddressController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>PersonalPartyController</display-name>
    <servlet-name>PersonalPartyController</servlet-name>
    <servlet-class>
		com.training.controllers.PersonalPartyController</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>GetCustServlet</display-name>
    <servlet-name>GetCustServlet</servlet-name>
    <servlet-class>
		com.training.controllers.GetCustServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>CreateTicketServlet1</display-name>
    <servlet-name>CreateTicketServlet1</servlet-name>
    <servlet-class>
		com.training.controllers.CreateTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>GetTicketServlet</display-name>
    <servlet-name>GetTicketServlet</servlet-name>
    <servlet-class>
		com.training.controllers.GetTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AssignTicketServlet</display-name>
    <servlet-name>AssignTicketServlet</servlet-name>
    <servlet-class>
		com.training.controllers.AssignTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>LoginSessionServlet</display-name>
    <servlet-name>LoginSessionServlet</servlet-name>
    <servlet-class>
		com.training.controllers.LoginSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AccountPartyMangementServlet</display-name>
    <servlet-name>AccountPartyMangementServlet</servlet-name>
    <servlet-class>
		com.training.controllers.AccountPartyMangementServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AccountPartyManagementMainServlet</display-name>
    <servlet-name>AccountPartyManagementMainServlet</servlet-name>
    <servlet-class>
		com.training.controllers.AccountPartyManagementMainServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>NewDisplayTicketServlet</display-name>
    <servlet-name>NewDisplayTicketServlet</servlet-name>
    <servlet-class>
		com.training.controllers.NewDisplayTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>RelationshipManagerServlet</display-name>
    <servlet-name>RelationshipManagerServlet</servlet-name>
    <servlet-class>
		com.training.controllers.RelationshipManagerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AmendorSwitchProductServlet</display-name>
    <servlet-name>AmendorSwitchProductServlet</servlet-name>
    <servlet-class>
		com.training.controllers.AmendorSwitchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAccountTitleServlet</servlet-name>
    <url-pattern>/ChangeAccountTitleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateTicketServlet</servlet-name>
    <url-pattern>/CreateTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchCustomerServlet</servlet-name>
    <url-pattern>/SearchCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchCustomerService</servlet-name>
    <url-pattern>/SearchCustomerService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountPartyListServlet</servlet-name>
    <url-pattern>/AccountPartyListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCustomer</servlet-name>
    <url-pattern>/VerifyCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCustomerServlet</servlet-name>
    <url-pattern>/VerifyCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SwitchProductServlet</servlet-name>
    <url-pattern>/SwitchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CloseAccountServlet</servlet-name>
    <url-pattern>/CloseAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCustomerContactController</servlet-name>
    <url-pattern>/ChangeCustomerContactController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAccountDetailServlet</servlet-name>
    <url-pattern>/ViewAccountDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadAssignedTicketServlet</servlet-name>
    <url-pattern>/LoadAssignedTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCustomerAddressController</servlet-name>
    <url-pattern>/ChangeCustomerAddressController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalPartyController</servlet-name>
    <url-pattern>/PersonalPartyController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCustServlet</servlet-name>
    <url-pattern>/GetCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateTicketServlet1</servlet-name>
    <url-pattern>/CreateTicketServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTicketServlet</servlet-name>
    <url-pattern>/GetTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssignTicketServlet</servlet-name>
    <url-pattern>/AssignTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountPartyManagementMainServlet</servlet-name>
    <url-pattern>/AccountPartyManagementMainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewDisplayTicketServlet</servlet-name>
    <url-pattern>/NewDisplayTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RelationshipManagerServlet</servlet-name>
    <url-pattern>/RelationshipManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AmendorSwitchProductServlet</servlet-name>
    <url-pattern>/AmendorSwitchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfReportServlet</display-name>
    <servlet-name>PdfReportServlet</servlet-name>
    <servlet-class>com.training.controllers.PdfReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfReportServlet</servlet-name>
    <url-pattern>/PdfReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartHelpdeskController</display-name>
    <servlet-name>ChartHelpdeskController</servlet-name>
    <servlet-class>com.training.controllers.ChartHelpdeskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartHelpdeskController</servlet-name>
    <url-pattern>/ChartHelpdeskController</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Secure</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
</web-app>